@import 'tailwindcss';

.card-title {
    @apply mb-2 text-center text-xl font-bold;
}

.title-on {
    color: black;
}

.title-off {
    color: white;
}

.light-squares {
    @apply flex max-w-sm flex-col items-center overflow-hidden rounded-[1vw] px-6 py-4 shadow-lg;
}

.light-on {
    background-image: radial-gradient(circle at top, white 40%, #ffffc5 70%);
}

.light-off {
    background-image: radial-gradient(circle at bottom, white 0%, black 100%);
}
